In [1]:
print("Canada")

Canada

In [2]:
10+30

40

In [3]:
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [4]:
b = int(input("Enter value of a"))

Enter value of a10

In [6]:
print("addition",(a+10))

addition 15

In [7]:
#Data types
X = 5

In [8]:
print(type(X))

<class 'int'>

In [17]:
X = False
print(type(X))

<class 'bool'>

In [72]:
# Objects
# List - mutable(you can change the value once they are are assigned)

L1 = ["Dixita",2021,"Canada",165]
print(L1)
# Extract value from List
print(L1[1])
# Extract negative value from List
print(L1[-1])
# Slice function to get specific values from List(show value between 1 to 3 but exclude last value)
print(L1[1:3])
# Add value to List using Append function
L1.append("Nissan Rogue")
L1
# Print elements of List in reverse order using Reverse function
L1.reverse()
print(L1)
len(L1)

['Dixita', 2021, 'Canada', 165]
2021
165
[2021, 'Canada']
['Nissan Rogue', 165, 'Canada', 2021, 'Dixita']

5

In [19]:
type(L1)

list

In [20]:
L2 = [1,2,3,4,5]
L2

[1, 2, 3, 4, 5]

In [21]:
type(L2)

list

In [80]:
#Tuple - immutable(you can't change it's value once they are assigned)

tup = ("AUDI","BMW","FORD","TOYOTA")
print(tup)
print(type(tup))
# Extract value from Tuple
print(tup[1])
# Extract negative value from Tuple
print(tup[-1])
# Slice function to get specific values from Tuple(show value between 1 to 3 but exclude last value)
print(tup[1:3])

('AUDI', 'BMW', 'FORD', 'TOYOTA')
<class 'tuple'>
BMW
TOYOTA
('BMW', 'FORD')

In [61]:
# Dictionary - mutable(key-value pair)

employee = {"Name":"Dixita","Age":28,"Profession":"Developer"}
print(employee)
print(type(employee))

# Get value from dictionary
print(employee.get("Age"))

# Update values
employee.update({"Profession" : "SW Developer"})
print(employee)

{'Name': 'Dixita', 'Age': 28, 'Profession': 'Developer'}
<class 'dict'>
28
{'Name': 'Dixita', 'Age': 28, 'Profession': 'SW Developer'}

In [32]:
# Set - contain unique values only

month = {"Jan","Feb","Mar","Apr","Mar"}
print(month)

{'Apr', 'Jan', 'Mar', 'Feb'}

In [31]:
print(type(month))

<class 'set'>

In [62]:
# If-else

a = 500
b = 350

if b>a :
    print("b is greater")
elif a==b :
    print("both are equal")
else :
    print("a is greater")

a is greater

In [68]:
# While 

i = 0
while i<8:
        i=i+1
        if i==4:
            continue
        print(i)

1
2
3
5
6
7
8

In [79]:
# For

tup = ("AUDI","BMW","FORD","TOYOTA","BMW")
for p in tup:
    print(p)

AUDI
BMW
FORD
TOYOTA
BMW